Universidade Estadual de Campinas – UNICAMP 

Disciplina: Ciência e Visualização de Dados em Saúde

                    Análise de dados da hanseníase: uma abordagem preditiva para a saúde pública

# Imports e configs de módulos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

C:\Users\mclar\AppData\Local\Temp\ipykernel_8108\2397831427.py:5: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 70)
%matplotlib inline
sns.set_style('darkgrid')
sns.set(font_scale=1.005)

# Datasets

In [3]:
df_hans = pd.read_csv('../data/raw/hans_all_raw.csv')

C:\Users\mclar\AppData\Local\Temp\ipykernel_8108\2381453392.py:1: DtypeWarning: Columns (10,15,21,22,23,24,26,27,33,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df_hans = pd.read_csv('../data/raw/hans_all_raw.csv')

In [4]:
df_hans.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_DIAG,SEM_DIAG,ANO_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,NDUPLIC_N,DT_DIGITA,DT_TRANSUS,DT_TRANSDM,DT_TRANSSM,DT_TRANSRM,DT_TRANSRS,DT_TRANSSE,NU_LOTE_V,NU_LOTE_H,CS_FLXRET,FLXRECEBI,MIGRADO_W,ID_OCUPA_N,NU_LESOES,FORMACLINI,AVALIA_N,CLASSOPERA,MODOENTR,MODODETECT,BACILOSCOP,DTINICTRAT,ESQ_INI_N,CONTREG,NERVOSAFET,UFATUAL,ID_MUNI_AT,DT_NOTI_AT,ID_UNID_AT,UFRESAT,MUNIRESAT,DTULTCOMP,CLASSATUAL,AVAL_ATU_N,ESQ_ATU_N,DOSE_RECEB,EPIS_RACIO,DTMUDESQ,CONTEXAM,DTALTA_N,TPALTA_N,IN_VINCULA,NU_LOTE_IA
0,2,A309,10/01/2001,2001,41.0,410304,1359.0,2741474.0,10/12/2000,NaN,1942,4058,M,6.0,NaN,0.0,41.0,410304.0,1359.0,1.0,0.0,NaN,NaN,NaN,11/03/2008,NaN,NaN,22/05/2009,0.0,NaN,NaN,NaN,1.0,NaN,0.0,1.0,0.0,2.0,1.0,2.0,NaN,10/12/2000,3.0,0.0,NaN,PR,410304.0,10/01/2001,2741474.0,41.0,410304.0,02/10/2002,2.0,0.0,3.0,NaN,NaN,NaN,0.0,02/10/2002,1.0,0.0,0.0
1,2,A309,17/01/2001,2001,41.0,410940,1359.0,2741369.0,23/12/2000,NaN,1956,4044,M,6.0,1.0,0.0,41.0,410940.0,1359.0,1.0,0.0,NaN,NaN,NaN,28/12/2007,NaN,NaN,22/12/2010,0.0,NaN,NaN,NaN,1.0,NaN,0.0,4.0,2.0,2.0,6.0,NaN,NaN,17/01/2001,3.0,3.0,NaN,PR,410940.0,17/01/2001,2741369.0,41.0,410940.0,19/12/2001,2.0,0.0,3.0,NaN,NaN,NaN,2.0,19/12/2001,1.0,0.0,0.0
2,2,A309,16/01/2001,2001,41.0,410940,1359.0,2741369.0,16/01/2001,NaN,1968,4032,M,6.0,1.0,3.0,41.0,410940.0,1359.0,1.0,0.0,NaN,NaN,NaN,28/12/2007,NaN,NaN,22/12/2010,0.0,NaN,NaN,NaN,1.0,NaN,0.0,2.0,0.0,1.0,1.0,1.0,NaN,16/01/2001,1.0,1.0,NaN,PR,410940.0,16/01/2001,2741369.0,41.0,410940.0,27/06/2001,1.0,0.0,1.0,NaN,NaN,NaN,1.0,27/06/2001,1.0,0.0,0.0
3,2,A309,08/01/2001,2001,41.0,411780,1359.0,2743116.0,08/01/2001,NaN,1960,4040,F,9.0,NaN,3.0,41.0,411780.0,1359.0,1.0,0.0,NaN,NaN,NaN,10/12/2007,NaN,NaN,22/12/2010,0.0,NaN,NaN,NaN,1.0,NaN,0.0,1.0,1.0,2.0,1.0,2.0,NaN,08/01/2001,3.0,3.0,NaN,PR,411780.0,08/01/2001,2743116.0,41.0,411780.0,28/01/2002,2.0,0.0,3.0,NaN,NaN,NaN,3.0,28/01/2002,1.0,0.0,0.0
4,2,A309,02/01/2001,2001,41.0,411780,1359.0,2743116.0,11/01/2000,NaN,1968,4031,M,6.0,NaN,0.0,41.0,411780.0,1359.0,1.0,0.0,NaN,NaN,NaN,10/12/2007,NaN,NaN,22/12/2010,0.0,NaN,NaN,NaN,1.0,NaN,0.0,4.0,1.0,2.0,3.0,NaN,NaN,02/01/2001,3.0,0.0,NaN,PR,411780.0,02/01/2001,2743116.0,41.0,411780.0,14/03/2002,2.0,2.0,3.0,NaN,NaN,NaN,0.0,14/03/2002,1.0,0.0,0.0

In [5]:
df_hans.shape

(923411, 63)

In [6]:
# Filtra apenas os dados que não estão duplicados
df_hans = df_hans[df_hans['NDUPLIC_N'] != 2]
df_hans.drop(['NDUPLIC_N'], axis=1, inplace=True)
df_hans.shape

(923289, 62)

### Pandas Profiling

In [7]:
profile = ProfileReport(df_hans, title='Report', correlations={
                                                "pearson": {"calculate": False},
                                                "spearman": {"calculate": False},
                                                "kendall": {"calculate": False},
                                                "phi_k": {"calculate": False},
                                                "cramers": {"calculate": False}},
                                             missing_diagrams={
                                                "heatmap": False,
                                                "dendrogram": False,
                                                "matrix": False,
                                                "bar": False},
                                             interactions={
                                                "continuous": False})

In [8]:
profile.to_file("../assets/reports/report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
c:\Users\mclar\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:4881: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Mudança tipo de colunas

In [9]:
cols_to_change = [elem for elem in df_hans.columns if 'ID_' in elem or 'CS_' in elem or 'UF' in elem or 'MUNI' in elem]
others_cols = ['FORMACLINI', 'AVALIA_N', 'CLASSOPERA', 'MODOENTR', 'MODODETECT', 'BACILOSCOP', 'ESQ_INI_N', 'CLASSATUAL', 
                'AVAL_ATU_N', 'ESQ_ATU_N', 'EPIS_RACIO', 'TPALTA_N']
cols_to_change = cols_to_change + others_cols
df_hans[cols_to_change] = df_hans[cols_to_change].astype(str)

In [10]:
df_hans.shape

(923289, 62)

### Exclusão de low variance features

In [11]:
target = ['DTALTA_N', 'TPALTA_N']
feats = df_hans.drop(target, axis=1).columns
num_feats = [feat for feat in feats if df_hans[feat].dtype != 'O']
cat_feats = [feat for feat in feats if feat not in num_feats]

In [12]:
def drop_low_variance_cat(df, col):
    if df[col].nunique() == 1:
        return True
    elif df[col].value_counts(1).iloc[0] > 0.9:
        return True
    elif df[col].value_counts().iloc[0] < df[col].isna().sum():
        return True
    else:
        return False
    
def drop_low_variance_num(df, col):
    if df[col].nunique() == 1:
        return True
    elif df[col].isna().sum()/len(df) > 0.5:
        return True
    else:
        return False

low_var_feats = [col for col in cat_feats if drop_low_variance_cat(df_hans, col)]
cat_feats = [feat for feat in cat_feats if feat not in low_var_feats]

low_var_feats = [col for col in num_feats if drop_low_variance_num(df_hans, col)]
num_feats = [feat for feat in num_feats if feat not in low_var_feats]

In [13]:
def is_high_card(df, col):
    if df[col].nunique()/len(df) > 0.3:
        return True
    else:
        return False
    
high_card_feats = [col for col in cat_feats if is_high_card(df_hans, col)]
print(high_card_feats)
cat_feats = [col for col in cat_feats if col not in high_card_feats]

[]

In [14]:
df_hans_filtered = df_hans[cat_feats + num_feats + target].copy()
df_hans_filtered.shape

(923289, 41)

### Remoção colunas

In [15]:
df_hans_filtered.drop(['DT_NOTIFIC', 'NU_IDADE_N', 'NU_LOTE_IA', 'NU_LOTE_IA'], axis=1, inplace=True)
df_hans_filtered.shape

(923289, 38)

### Remoção de duplicatas

In [16]:
df_hans_processed = df_hans_filtered.drop_duplicates()
df_hans_processed.shape

(923238, 38)

In [17]:
df_hans_processed.to_csv('../data/interim/hans_interim.csv', index=False)